<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Train Brain - Twin Cities Metro Transit Light Rail schedule for iPhone</title>
        <meta name="description" content="Twin Cities Metro Transit Light Rail schedule for the iPhone. Designed and Developed by Beetle Fight, LLC in Minneapolis, MN. Nate Kadlac, Andy Atkinson and John Doll.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="apple-itunes-app" content="app-id=328945770">
<!--        <meta name="Train Brain" content="app-id=328945770">-->
        
        <!-- typekit -->
        <script type="text/javascript" src="//use.typekit.net/zdc4uil.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

        
    </head>
    <body>
        <!--[if lt IE 7]>
          <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
  
        <div class="container l-header">
            <header class="header clearfix">
                <h1 class="logo"><a href="/">Train Brain</a></h1>
                <nav>
                    <ul>
                        <li class="tb-app selected"><a href="/"><span>Train Brain</span></a></li>
                        <li class="bb-app"><a href="http://busbrainapp.com"><span>Bus Brain</span></a></li>
                        <li class="feedback"><a href="http://beetlefight.uservoice.com/forums/27714-general"><span>Feedback</span></a></li>
                    </ul>
                </nav>
            </header>
        </div>    
          
        <div class="container">

            <div class="main clearfix">
          
                <div class="iphone"></div>
                <div class="message">

                  
                    <div style="padding:0 0 40px 0px;">We are no longer developing Train Brain or Bus Brain. If you'd like to get in touch with us please <a href="mailto:beetlefight@gmail.com" style="color:#000;text-decoration:underline;">send an email</a>. Thanks for your support over the years!</div>
                
                </div>
            
            </div>
        </div>  

        <div class="container l-secondary">
          
            <div class="secondary clearfix">
            
                <div class="screen">
                    <h2>SELECT A ROUTE</h2>
                    <p>From the main screen, choose a desired line, tap on your last viewed, or see stops nearest you.</p>
                    <img class="screenshot" src="/img/screen_route.png" alt="Routes" />
                </div>
                
                <div class="screen">
                    <h2>CHOOSE A STOP</h2>
                    <p>Set your direction and view the stops along this route.</p>
                    <img class="screenshot" src="/img/screen_stations.png" alt="Stops" />
                </div>
                
                <div class="screen">
                    <h2>VIEW DEPARTURE TIMES</h2>
                    <p>Check out the closest train, or view the rest of the schedule for this stop.</p>
                    <img class="screenshot" src="/img/screen_departures.png" alt="Departures" />
                </div>

            </div>

        </div>

        <div class="container l-footer">

            <footer class="footer">
                <p class="legal">&copy; 2012 all rights reserved.</p>
            </footer>
        </div>
      
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/retina.js"></script>
        
        <script>
            var _gaq=[['_setAccount','UA-10521139-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        
        <!--<script>
            window.addEventListener("load",function() {
              setTimeout(function(){
                window.scrollTo(0, 0);
              }, 0);
            });
        </script>-->
        
    </body>
</html>